html {
	color: #000;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: left
}

body {
	font-size: small; *
	font: x-small;
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	background: none;
}

#content h1 {
	margin-top: 10px;
	margin-bottom: 1px;
	padding: 0px 15px;
	font-size: 124%;
	text-transform: uppercase;
	background: url(../images/bg-listheader.gif) no-repeat;
	line-height: 32px;
	color: #fff;
}

#content h1 a {
	color: #fff;
	text-decoration: none;
	font-style: normal;
	text-transform: uppercase;
	line-height: 32px;
}

#content h2 {
	margin-top: 10px;
	margin-bottom: 1px;
	padding: 0px 25px;
	font-size: 100%;
	text-transform: uppercase;
	background: url(../images/bg-listheader.gif) no-repeat;
	line-height: 24px;
	color: #fff;
}

#content h2 a {
	color: #fff;
	text-decoration: none;
	font-style: normal;
	text-transform: uppercase;
	line-height: 24px;
}

#content table {
	width: 70%
}


#container
{
  width: 100%;
  background: none;
}

#content
{
  padding: 25px;
  padding-top: 0;
}

#menu
{
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}

#menu li
{
  margin-right: 15px;
  display: inline;
}

#content h1
{
  padding: 0;
  background: transparent;
  margin-bottom: 20px;
  font-size: 140%;
  color: #000;
}

td, th
{
  padding: 7px;
}

th
{
  font-weight: bold;
}

#footer
{
  clear: both;
  padding: 25px;
  margin-top: 0;
  height: auto;
  font-family: arial,sans-serif;
  font-size: 80%;
  float: right;
  color: #666;
  background: none;
}

#footer img
{
  vertical-align: middle;
}

#sf_admin_container fieldset h2
{
  font-size: 110%;
  font-family: arial,sans-serif;
  font-style: italic;
}

.sf_admin_form_field_logo div div
{
  margin-left: 120px;
}

#sf_admin_container .sf_admin_form_field_logo div div label
{
  display: inline;
  float: none;
}

#header h1
{
  width: auto;
}
