<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>{% block title %}Azine – {% endblock %}</title>

</head>

<body>

<h1>Azine</h1>


<div>
        <ul>
                <li><a href="{% url job_index %}">Jobs</a></li>
                <li><a href="{% url application_index_for_user %}">My Applications</a></li>
                <li><a href="{% url user_profile_update %}">Edit Profile</a></li>
                <li><a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a></li>
        </ul>
</div>


{% block content %}
{% endblock %}

</body>
</html>
