AuthName "Azine.Me"
AuthType Basic
AuthUserFile "/home/busi/workspace/Azine/.htpasswd"

ErrorDocument 404 /error404.php
ErrorDocument 401 /error401.php

RewriteEngine On                                                                                                                             
# all files with .something are skipped
RewriteCond %{REQUEST_URI} \..+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule .* - [L]
# the others are redirected to the front web controller
RewriteRule ^(.*)$ index.php [QSA,L]



#<files "*backend*">
require valid-user
#</files>
